*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(images/backgroundimage.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.buttons
{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.button
{
    background: transparent;
    width: 300px;
    height: 70px;
    font-size: 40px;
    border: 7px solid rgba(0, 0, 0, 0.632);
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color:  rgba(0, 0, 0, 0.632);
    box-shadow: 4px 4px;
    transition: transform 1s ease-in-out,;


}
.hovereffect
{
    color: aliceblue;
    border-color: aliceblue;
}
.trans
{
    transform: scale(1.1);
}
.grid-container
{
    height: 980px;
    width: 980px;
    margin: 40px auto;
    
}
.row
{
    border: 1px solid black;
}
.rows
{
    display: flex;
    justify-content: center;

}
